<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
    <description>HELLO-INIT Test Plugin, from UNM</description>
    <display-name>HELLO-INIT Test Plugin, from UNM</display-name>
    <distributable/>

    <servlet>
        <description>HELLO-INIT Test Plugin, from UNM</description>
        <display-name>HELLO-INIT Test Plugin, from UNM</display-name>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>HELLO_NOTE</param-name>
            <param-value>none (default via web.xml)</param-value>
        </init-param>
        <!-- this must always be after init-param !-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
        <listener-class>edu.unm.health.biocomp.bard.helloinit.helloinit_bardPlugin</listener-class>
    </listener>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
