<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
    <description>BARD Plugin Services: VCCLAB datalink web services plugin, from UNM</description>
    <display-name>BARD Plugin Services: VCCLAB datalink web services plugin, from UNM</display-name>
    <distributable/>

    <servlet>
        <description>BARD REST Services: VCCLAB datalink web services plugin, from UNM</description>
        <display-name>BARD REST Services: VCCLAB datalink web services plugin, from UNM</display-name>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>gov.nih.ncgc.bard.rest.filter.CountFilter</param-value>
        </init-param>

        <init-param>
            <param-name>NOTE</param-name>
            <param-value>none (default via web.xml)</param-value>
        </init-param>

        <!-- this must always be after init-param !-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
