<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
    <description>BARD Plugin Services: HScaf scaffold analysis plugin, from UNM</description>
    <display-name>BARD Plugin Services: HScaf scaffold analysis plugin, from UNM</display-name>
    <distributable/>

    <servlet>
        <description>BARD REST Services: HScaf scaffold analysis plugin, from UNM</description>
        <display-name>BARD REST Services: HScaf scaffold analysis plugin, from UNM</display-name>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>gov.nih.ncgc.bard.rest.filter.CountFilter</param-value>
        </init-param>

        <!-- For HScaf Plugin: !-->
        <init-param>
            <param-name>NOTE</param-name>
            <param-value>none (default via web.xml)</param-value>
        </init-param>

        <!-- this must always be after init-param !-->
        <load-on-startup>1</load-on-startup>
    </servlet>

    <listener>
      <listener-class>edu.unm.health.biocomp.bard.hscaf.hscaf_bardPlugin</listener-class>
    </listener>

    <context-param>
        <param-name>HSCAF_DBTYPE</param-name>
        <!-- param-value>postgres</param-value -->
        <!-- param-value>mysql</param-value -->
        <param-value>derby</param-value>
    </context-param>
    <context-param>
        <param-name>HSCAF_DBHOST</param-name>
        <!-- param-value>carlsbad.health.unm.edu</param-value -->
        <!-- param-value>protein.nhgri.nih.gov</param-value -->
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>HSCAF_DBPORT</param-name>
        <param-value>5432</param-value>	<!-- postgres -->
        <!-- param-value>3306</param-value -->	<!-- mysql -->
    </context-param>
    <context-param>
        <param-name>HSCAF_DBNAME</param-name>
        <!-- param-value>openchord</param-value -->	<!-- postgres -->
        <!-- param-value>badapple</param-value -->	<!-- mysql -->
        <param-value>${catalina.home}/webapps/bardplugin_hscaf/derby/hscaf</param-value> <!-- derby (dbpath) -->
    </context-param>
    <context-param>
        <param-name>HSCAF_DBSCHEMA</param-name>
        <!-- param-value>badapple</param-value -->	<!-- postgres only -->
        <param-value>APP</param-value> <!-- derby default -->
    </context-param>
    <context-param>
        <param-name>HSCAF_DBUSR</param-name> <!-- postgres,mysql -->
        <param-value>bard</param-value>
    </context-param>
    <context-param>
        <param-name>HSCAF_DBPW</param-name> <!-- postgres,mysql -->
        <param-value>stratford</param-value>
    </context-param>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
